.example-form-field {
    width: 400px;
    margin: 0 25px 20px 25px;
}

.header
{
    font-size: x-large;
}

.green {
    background-color: #00BD9D;
    color: white;
}

img {
    object-fit: cover;
    width: 400px;
    height: auto;
}

.content {
display: flex;
justify-content: space-between;
font-size: larger;
border: 1px solid black;
border-radius: 5px;
margin: 10px 0;
}

.description{
    margin: 10px;
    width: 500px;
}

.search-panel {
display: flex;
justify-content: space-between;
}

.blue{
    background-color: #54DEFD;
}

.custom-select {
    margin-right: 20px;
    font-size: small;
}

.string-select{
    width: 130px;
}

.numer-select{
    width: 80px;
}