<div>
    <span class="header">Wpisz zapytanie: </span>

    <mat-form-field class="example-form-field">
        <input matInput [(ngModel)]="query" type="text">
    </mat-form-field>

    <mat-form-field class="custom-select string-select" appearance="fill">
    <mat-label>Wybierz język</mat-label>
    <mat-select [formControl]="lang">
        <mat-option value="pl">Polski</mat-option>
        <mat-option value="en">English</mat-option>
    </mat-select>
    </mat-form-field>

    <mat-form-field class="custom-select numer-select" appearance="fill">
    <mat-label>Ilość</mat-label>
    <mat-select [formControl]="count">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="50">50</mat-option>
        <mat-option value="100">100</mat-option>
    </mat-select>
    </mat-form-field>
    

    <button mat-raised-button class="green" (click)="search()">Wyszukaj</button>
</div>

<div *ngFor="let ad of ads; index as i" class="content">
    <img *ngIf="i % 2 == 1" src="{{ad.imagePath}}" alt="{{ad.title}}" >
    <div class="description">
        <h2>{{ ad.description }}</h2>
        <div *ngIf="ad.tags.length">
            <span>Tagi: </span>
            <span *ngFor="let tag of ad.tags">&nbsp;&nbsp; {{ tag.value }} &nbsp;&nbsp;</span>
        </div>
    </div>
    <img *ngIf="i % 2 == 0" src="{{ad.imagePath}}" alt="{{ad.title}}" >
</div>