.navigation
{
    width: 160px;
    padding: 25px 20px 12px 20px;
    background-color: #00BD9D;
    height: 100%;
    text-align: center;
}

.nav-button
{
    margin: 10px;
    width: 140px;
    text-align: center;
}

.header
{
    font-size: larger;
}

.example-form-field {
    width: 150px;
  }