img {
    object-fit: cover;
    max-width: 400px;
    height: 100%;
}

input{
    margin-left: 130px;
}

.mat-radio-button {
    margin-left: 10px;
}

.blue{
    background-color: #54DEFD;
}

.content {
 display: flex;
 justify-content: space-between;
 font-size: larger;
}

.fail{
    background-color: #FFCEC2;
}

.green{
    background-color: #00BD9D;
}

.input-panel{
    margin-bottom: 12px;
}

.justify-between{
    display: flex;
    justify-content: space-between;
}

.mat-raised-button {
    margin-right: 15px;
} 

.message{
    border-radius: 10px;
    width:fit-content;
    padding: 8px 18px;
}

.offseted{
    margin-left: 10px;
}

.tag-button {
    border-width: 0;
    margin-left: 15px;
    width: 30px;
    cursor: pointer;
}

.red {
    background-color: #FF5C33;
}

.success{
    background-color: #C2FFF5;
}