<div *ngIf="ad" class="content">
    <form (ngSubmite)="save(imageInput)" method="POST">
        <div>
            <button mat-raised-button (click)="back()" class="green">Powrót</button>
            <button mat-raised-button (click)="save(imageInput)" class="blue">Zapisz</button>
            <span *ngIf="message == 'success'" class="success message">Zapisano zmiany</span>
            <span *ngIf="message == 'fail'" class="fail message">Upps! Nie udało się zapisać</span>
        </div>
        <br /><br />
        <div class="offseted">
            <div class="input-panel justify-between">
                <label for="adId">Id: </label>
                <input name='adId' id="adId" disabled [(ngModel)]="ad.id">
            </div>
            <div class="input-panel justify-between">
                <label for="title">Tytuł: </label>
                <input name='title' id="title" [(ngModel)]="ad.title">
            </div>
            <div class="input-panel justify-between">
                <label for="description">Opis: </label>
                <input name='description' id="description" [(ngModel)]="ad.description">
            </div>
            <div class="input-panel justify-between">
                <label for="image">Obraz: </label>
                <input name='image' type="file" accept="image/*" id="image" #imageInput>
            </div>
            <br />
            Tagi: 
            <ul>
                <li *ngFor="let tag of ad.tags">
                    <div class="justify-between">
                        <label for="tag{{tag.id}}">Id: {{ tag.id }} - </label>
                        <div>
                            <input name='tag{{tag.id}}' id="tag{{tag.id}}" [(ngModel)]="tag.value">
                            <button class="red tag-button" (click)="removeTag(tag)" >-</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="justify-between">
                        <label for="newTag">Nowy: </label>
                        <div>
                            <input name='newTag' id="newTag" [(ngModel)]="newTag.value">
                            <button class="green tag-button" (click)="adTag()" >+</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
    <img src="https://miro.medium.com/max/2400/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" >
</div>