img {
    max-width: 400px;
}

input{
    margin-left: 30px;
}

.blue{
    background-color: #54DEFD;
}

.content {
 display: flex;
 justify-content: space-between;
 font-size: larger;
}

.green{
    background-color: #00BD9D;
}

.input-panel{
    margin-bottom: 12px;
}

.justify-between{
    display: flex;
    justify-content: space-between;
}

.mat-raised-button {
    margin-right: 15px;
}

.offseted{
    margin-left: 10px;
}

.tag-button {
    border-width: 0;
    margin-left: 15px;
    width: 30px;
    cursor: pointer;
}

.red {
    background-color: #FF5C33;
}