img {
    object-fit: cover;
    max-width: 600px;
    height: 100%;
}

.content {
 display: flex;
 justify-content: space-between;
 font-size: larger;
}

.green{
    background-color: #00BD9D;
}

.offseted{
    margin-left: 10px;
}